#iconHourglass {
  width: 16px;
  height: 16px;
  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border-radius: 50%;
}

@keyframes rotate{
  from{ transform: rotate(-360deg); }
  to{ transform: rotate(360deg); }
}

#result {
  height: 400px
}

#resultMarkdown {
  border: 1px solid #DDD;
  border-radius: 0 0 8px 8px;
  height: 400px;
  overflow: auto;
  padding: 12px;
}